In [1]:
from nba_api.stats.endpoints import playercareerstats

# Lebron James
career = playercareerstats.PlayerCareerStats(player_id='2544') 

# pandas data frames (optional: pip install pandas)
career.get_data_frames()[0]

# json
career.get_json()

# dictionary
career.get_dict()

{'resource': 'playercareerstats',
 'parameters': {'PerMode': 'Totals', 'PlayerID': 2544, 'LeagueID': None},
 'resultSets': [{'name': 'SeasonTotalsRegularSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'PLAYER_AGE',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[2544,
     '2003-04',
     '00',
     1610612739,
     'CLE',
     19.0,
     79,
     79,
     3120.0,
     622,
     1492,
     0.417,
     63,
     217,
     0.29,
     347,
     460,
     0.754,
     99,
     333,
     432,
     465,
     130,
     58,
     273,
     149,
     1654],
    [2544,
     '2004-05',
     '00',
     1610612739,
     'CLE',
     20.0,
     80,
     80,
     3388.0,
     795,
     1684,
     0.472,
     108,
     308,
     0.351,
     477,
     636,
     0.75,
     111,
     477,
     588,
     577,
     177,
     52,
     262,
     146,
     2175],
    [2544,
     '2005-06',
     '00',
     1610612739,
     'CLE',
     21.0,
     79,
     79,
     3361.0,
     875,
     1823,
     0.48,
     127,
     379,
     0.335,
     601,
     814,
     0.738,
     75,
     481,
     556,
     521,
     123,
     66,
     260,
     181,
     2478],
    [2544,
     '2006-07',
     '00',
     1610612739,
     'CLE',
     22.0,
     78,
     78,
     3190.0,
     772,
     1621,
     0.476,
     99,
     310,
     0.319,
     489,
     701,
     0.698,
     83,
     443,
     526,
     470,
     125,
     55,
     250,
     171,
     2132],
    [2544,
     '2007-08',
     '00',
     1610612739,
     'CLE',
     23.0,
     75,
     74,
     3027.0,
     794,
     1642,
     0.484,
     113,
     359,
     0.315,
     549,
     771,
     0.712,
     133,
     459,
     592,
     539,
     138,
     81,
     255,
     165,
     2250],
    [2544,
     '2008-09',
     '00',
     1610612739,
     'CLE',
     24.0,
     81,
     81,
     3054.0,
     789,
     1613,
     0.489,
     132,
     384,
     0.344,
     594,
     762,
     0.78,
     106,
     507,
     613,
     587,
     137,
     93,
     241,
     139,
     2304],
    [2544,
     '2009-10',
     '00',
     1610612739,
     'CLE',
     25.0,
     76,
     76,
     2966.0,
     768,
     1528,
     0.503,
     129,
     387,
     0.333,
     593,
     773,
     0.767,
     71,
     483,
     554,
     651,
     125,
     77,
     261,
     119,
     2258],
    [2544,
     '2010-11',
     '00',
     1610612748,
     'MIA',
     26.0,
     79,
     79,
     3063.0,
     758,
     1485,
     0.51,
     92,
     279,
     0.33,
     503,
     663,
     0.759,
     80,
     510,
     590,
     554,
     124,
     50,
     284,
     163,
     2111],
    [2544,
     '2011-12',
     '00',
     1610612748,
     'MIA',
     27.0,
     62,
     62,
     2326.0,
     621,
     1169,
     0.531,
     54,
     149,
     0.362,
     387,
     502,
     0.771,
     94,
     398,
     492,
     387,
     115,
     50,
     213,
     96,
     1683],
    [2544,
     '2012-13',
     '00',
     1610612748,
     'MIA',
     28.0,
     76,
     76,
     2877.0,
     765,
     1354,
     0.565,
     103,
     254,
     0.406,
     403,
     535,
     0.753,
     97,
     513,
     610,
     551,
     129,
     67,
     226,
     110,
     2036],
    [2544,
     '2013-14',
     '00',
     1610612748,
     'MIA',
     29.0,
     77,
     77,
     2902.0,
     767,
     1353,
     0.567,
     116,
     306,
     0.379,
     439,
     585,
     0.75,
     81,
     452,
     533,
     488,
     121,
     26,
     270,
     126,
     2089],
    [2544,
     '2014-15',
     '00',
     1610612739,
     'CLE',
     30.0,
     69,
     69,
     2493.0,
     624,
     1279,
     0.488,
     120,
     339,
     0.354,
     375,
     528,
     0.71,
     51,
     365,
     416,
     511,
     109,
     49,
     272,
     135,
     1743],
    [2544,
     '2015-16',
     '00',
     1610612739,
     'CLE',
     31.0,
     76,
     76,
     2709.0,
     737,
     1416,
     0.52,
     87,
     282,
     0.309,
     359,
     491,
     0.731,
     111,
     454,
     565,
     514,
     104,
     49,
     249,
     143,
     1920],
    [2544,
     '2016-17',
     '00',
     1610612739,
     'CLE',
     32.0,
     74,
     74,
     2795.0,
     736,
     1344,
     0.548,
     124,
     342,
     0.363,
     358,
     531,
     0.674,
     97,
     542,
     639,
     646,
     92,
     44,
     303,
     134,
     1954],
    [2544,
     '2017-18',
     '00',
     1610612739,
     'CLE',
     33.0,
     82,
     82,
     3026.0,
     857,
     1580,
     0.542,
     149,
     406,
     0.367,
     388,
     531,
     0.731,
     97,
     612,
     709,
     747,
     116,
     71,
     347,
     136,
     2251],
    [2544,
     '2018-19',
     '00',
     1610612747,
     'LAL',
     34.0,
     55,
     55,
     1937.0,
     558,
     1095,
     0.51,
     111,
     327,
     0.339,
     278,
     418,
     0.665,
     57,
     408,
     465,
     454,
     72,
     33,
     197,
     94,
     1505],
    [2544,
     '2019-20',
     '00',
     1610612747,
     'LAL',
     35.0,
     67,
     67,
     2316.0,
     643,
     1303,
     0.493,
     148,
     425,
     0.348,
     264,
     381,
     0.693,
     66,
     459,
     525,
     684,
     78,
     36,
     261,
     118,
     1698],
    [2544,
     '2020-21',
     '00',
     1610612747,
     'LAL',
     36.0,
     45,
     45,
     1504.0,
     422,
     823,
     0.513,
     104,
     285,
     0.365,
     178,
     255,
     0.698,
     29,
     317,
     346,
     350,
     48,
     25,
     168,
     70,
     1126],
    [2544,
     '2021-22',
     '00',
     1610612747,
     'LAL',
     37.0,
     56,
     56,
     2084.0,
     640,
     1221,
     0.524,
     161,
     448,
     0.359,
     254,
     336,
     0.756,
     63,
     396,
     459,
     349,
     73,
     59,
     196,
     121,
     1695],
    [2544,
     '2022-23',
     '00',
     1610612747,
     'LAL',
     38.0,
     55,
     54,
     1954.0,
     609,
     1219,
     0.5,
     121,
     377,
     0.321,
     251,
     327,
     0.768,
     65,
     392,
     457,
     375,
     50,
     32,
     178,
     88,
     1590]]},
  {'name': 'CareerTotalsRegularSeason',
   'headers': ['PLAYER_ID',
    'LEAGUE_ID',
    'Team_ID',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[2544,
     '00',
     0,
     1421,
     1419,
     54092.0,
     14152,
     28044,
     0.504635,
     2261,
     6563,
     0.344507,
     8087,
     11000,
     0.735181,
     1666,
     9001,
     10667,
     10420,
     2186,
     1073,
     4966,
     2604,
     38652]]},
  {'name': 'SeasonTotalsPostSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'PLAYER_AGE',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[2544,
     '2005-06',
     '00',
     1610612739,
     'CLE',
     21.0,
     13,
     13,
     604.0,
     146,
     307,
     0.476,
     21,
     63,
     0.333,
     87,
     118,
     0.737,
     22,
     83,
     105,
     76,
     18,
     9,
     65,
     44,
     400],
    [2544,
     '2006-07',
     '00',
     1610612739,
     'CLE',
     22.0,
     20,
     20,
     893.0,
     166,
     399,
     0.416,
     21,
     75,
     0.28,
     148,
     196,
     0.755,
     26,
     135,
     161,
     159,
     34,
     10,
     66,
     40,
     501],
    [2544,
     '2007-08',
     '00',
     1610612739,
     'CLE',
     23.0,
     13,
     13,
     552.0,
     113,
     275,
     0.411,
     18,
     70,
     0.257,
     122,
     167,
     0.731,
     16,
     86,
     102,
     99,
     23,
     17,
     54,
     33,
     366],
    [2544,
     '2008-09',
     '00',
     1610612739,
     'CLE',
     24.0,
     14,
     14,
     580.0,
     159,
     312,
     0.51,
     27,
     81,
     0.333,
     149,
     199,
     0.749,
     19,
     109,
     128,
     102,
     23,
     12,
     38,
     30,
     494],
    [2544,
     '2009-10',
     '00',
     1610612739,
     'CLE',
     25.0,
     11,
     11,
     460.0,
     106,
     211,
     0.502,
     20,
     50,
     0.4,
     88,
     120,
     0.733,
     15,
     87,
     102,
     84,
     19,
     20,
     42,
     23,
     320],
    [2544,
     '2010-11',
     '00',
     1610612748,
     'MIA',
     26.0,
     21,
     21,
     922.0,
     174,
     373,
     0.466,
     30,
     85,
     0.353,
     119,
     156,
     0.763,
     34,
     142,
     176,
     123,
     35,
     25,
     66,
     56,
     497],
    [2544,
     '2011-12',
     '00',
     1610612748,
     'MIA',
     27.0,
     23,
     23,
     983.0,
     251,
     502,
     0.5,
     22,
     85,
     0.259,
     173,
     234,
     0.739,
     54,
     170,
     224,
     129,
     43,
     16,
     81,
     47,
     697],
    [2544,
     '2012-13',
     '00',
     1610612748,
     'MIA',
     28.0,
     23,
     23,
     960.0,
     212,
     432,
     0.491,
     36,
     96,
     0.375,
     136,
     175,
     0.777,
     37,
     156,
     193,
     152,
     41,
     18,
     70,
     43,
     596],
    [2544,
     '2013-14',
     '00',
     1610612748,
     'MIA',
     29.0,
     20,
     20,
     763.0,
     192,
     340,
     0.565,
     35,
     86,
     0.407,
     129,
     160,
     0.806,
     14,
     127,
     141,
     95,
     36,
     11,
     61,
     46,
     548],
    [2544,
     '2014-15',
     '00',
     1610612739,
     'CLE',
     30.0,
     20,
     20,
     844.0,
     227,
     544,
     0.417,
     25,
     110,
     0.227,
     122,
     167,
     0.731,
     37,
     189,
     226,
     169,
     33,
     21,
     82,
     58,
     601],
    [2544,
     '2015-16',
     '00',
     1610612739,
     'CLE',
     31.0,
     21,
     21,
     822.0,
     219,
     417,
     0.525,
     32,
     94,
     0.34,
     82,
     124,
     0.661,
     42,
     158,
     200,
     160,
     49,
     27,
     75,
     54,
     552],
    [2544,
     '2016-17',
     '00',
     1610612739,
     'CLE',
     32.0,
     18,
     18,
     744.0,
     217,
     384,
     0.565,
     44,
     107,
     0.411,
     113,
     162,
     0.698,
     19,
     145,
     164,
     141,
     35,
     23,
     72,
     43,
     591],
    [2544,
     '2017-18',
     '00',
     1610612739,
     'CLE',
     33.0,
     22,
     22,
     922.0,
     275,
     510,
     0.539,
     39,
     114,
     0.342,
     159,
     213,
     0.746,
     31,
     169,
     200,
     198,
     30,
     23,
     94,
     52,
     748],
    [2544,
     '2019-20',
     '00',
     1610612747,
     'LAL',
     35.0,
     21,
     21,
     762.0,
     214,
     382,
     0.56,
     44,
     119,
     0.37,
     108,
     150,
     0.72,
     28,
     198,
     226,
     184,
     26,
     18,
     84,
     40,
     580],
    [2544,
     '2020-21',
     '00',
     1610612747,
     'LAL',
     36.0,
     6,
     6,
     224.0,
     54,
     114,
     0.474,
     18,
     48,
     0.375,
     14,
     23,
     0.609,
     7,
     36,
     43,
     48,
     9,
     2,
     25,
     7,
     140],
    [2544,
     '2022-23',
     '00',
     1610612747,
     'LAL',
     38.0,
     16,
     16,
     619.0,
     147,
     295,
     0.498,
     28,
     106,
     0.264,
     70,
     92,
     0.761,
     25,
     133,
     158,
     104,
     17,
     18,
     40,
     28,
     392]]},
  {'name': 'CareerTotalsPostSeason',
   'headers': ['PLAYER_ID',
    'LEAGUE_ID',
    'Team_ID',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[2544,
     '00',
     0,
     282,
     282,
     11655.0,
     2872,
     5797,
     0.495428,
     460,
     1389,
     0.331173,
     1819,
     2456,
     0.740635,
     426,
     2123,
     2549,
     2023,
     471,
     270,
     1015,
     644,
     8023]]},
  {'name': 'SeasonTotalsAllStarSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'PLAYER_AGE',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[2544,
     '2004-05',
     '00',
     1610616833,
     'EST',
     20.0,
     1,
     1,
     31.0,
     6,
     13,
     0.462,
     1,
     4,
     0.25,
     0,
     1,
     0.0,
     1,
     7,
     8,
     6,
     2,
     0,
     3,
     0,
     13],
    [2544,
     '2005-06',
     '00',
     1610616833,
     'EST',
     21.0,
     1,
     1,
     31.0,
     12,
     21,
     0.571,
     4,
     10,
     0.4,
     1,
     5,
     0.2,
     2,
     4,
     6,
     2,
     2,
     0,
     1,
     2,
     29],
    [2544,
     '2006-07',
     '00',
     1610616833,
     'EST',
     22.0,
     1,
     1,
     32.0,
     11,
     20,
     0.55,
     4,
     8,
     0.5,
     2,
     2,
     1.0,
     0,
     6,
     6,
     6,
     1,
     0,
     4,
     0,
     28],
    [2544,
     '2007-08',
     '00',
     1610616833,
     'EST',
     23.0,
     1,
     1,
     30.0,
     12,
     22,
     0.545,
     2,
     7,
     0.286,
     1,
     1,
     1.0,
     1,
     7,
     8,
     9,
     2,
     2,
     4,
     3,
     27],
    [2544,
     '2008-09',
     '00',
     1610616833,
     'EST',
     24.0,
     1,
     1,
     27.0,
     8,
     19,
     0.421,
     2,
     5,
     0.4,
     2,
     2,
     1.0,
     0,
     5,
     5,
     3,
     0,
     0,
     3,
     0,
     20],
    [2544,
     '2009-10',
     '00',
     1610616833,
     'EST',
     25.0,
     1,
     1,
     32.0,
     10,
     22,
     0.455,
     1,
     6,
     0.167,
     4,
     4,
     1.0,
     1,
     4,
     5,
     6,
     4,
     0,
     2,
     1,
     25],
    [2544,
     '2010-11',
     '00',
     1610616833,
     'EST',
     26.0,
     1,
     1,
     32.0,
     10,
     18,
     0.556,
     0,
     3,
     0.0,
     9,
     10,
     0.9,
     2,
     10,
     12,
     10,
     0,
     0,
     4,
     3,
     29],
    [2544,
     '2011-12',
     '00',
     1610616833,
     'EST',
     27.0,
     1,
     1,
     32.0,
     15,
     23,
     0.652,
     6,
     8,
     0.75,
     0,
     0,
     0.0,
     0,
     6,
     6,
     7,
     0,
     0,
     4,
     2,
     36],
    [2544,
     '2012-13',
     '00',
     1610616833,
     'EST',
     28.0,
     1,
     1,
     30.0,
     7,
     18,
     0.389,
     3,
     7,
     0.429,
     2,
     4,
     0.5,
     0,
     3,
     3,
     5,
     1,
     0,
     4,
     0,
     19],
    [2544,
     '2013-14',
     '00',
     1610616833,
     'EST',
     29.0,
     1,
     1,
     33.0,
     11,
     22,
     0.5,
     0,
     7,
     0.0,
     0,
     0,
     0.0,
     1,
     6,
     7,
     7,
     3,
     0,
     1,
     0,
     22],
    [2544,
     '2014-15',
     '00',
     1610616833,
     'EST',
     30.0,
     1,
     1,
     32.0,
     11,
     21,
     0.524,
     4,
     12,
     0.333,
     4,
     5,
     0.8,
     1,
     4,
     5,
     7,
     2,
     0,
     4,
     1,
     30],
    [2544,
     '2015-16',
     '00',
     1610616833,
     'EST',
     31.0,
     1,
     1,
     20.0,
     6,
     13,
     0.462,
     1,
     5,
     0.2,
     0,
     0,
     0.0,
     0,
     4,
     4,
     7,
     0,
     0,
     4,
     0,
     13],
    [2544,
     '2016-17',
     '00',
     1610616833,
     'EST',
     32.0,
     1,
     1,
     19.0,
     10,
     17,
     0.588,
     3,
     8,
     0.375,
     0,
     0,
     0.0,
     0,
     3,
     3,
     1,
     0,
     0,
     4,
     2,
     23],
    [2544,
     '2017-18',
     '00',
     1610616833,
     'LBN',
     33.0,
     1,
     1,
     31.0,
     12,
     17,
     0.706,
     4,
     8,
     0.5,
     1,
     1,
     1.0,
     0,
     10,
     10,
     8,
     1,
     0,
     5,
     2,
     29],
    [2544,
     '2018-19',
     '00',
     1610616834,
     'LBN',
     34.0,
     1,
     1,
     27.0,
     9,
     17,
     0.529,
     1,
     8,
     0.125,
     0,
     1,
     0.0,
     2,
     6,
     8,
     4,
     0,
     2,
     1,
     1,
     19],
    [2544,
     '2019-20',
     '00',
     1610616834,
     'LBN',
     35.0,
     1,
     1,
     19.0,
     9,
     20,
     0.45,
     2,
     10,
     0.2,
     3,
     4,
     0.75,
     2,
     3,
     5,
     6,
     1,
     2,
     6,
     1,
     23],
    [2544,
     '2020-21',
     '00',
     1610616834,
     'LBN',
     36.0,
     1,
     1,
     13.0,
     2,
     7,
     0.286,
     0,
     3,
     0.0,
     0,
     0,
     0.0,
     0,
     2,
     2,
     4,
     0,
     1,
     1,
     0,
     4],
    [2544,
     '2021-22',
     '00',
     1610616834,
     'LBN',
     37.0,
     1,
     1,
     36.0,
     11,
     24,
     0.458,
     2,
     11,
     0.182,
     0,
     0,
     0.0,
     1,
     5,
     6,
     8,
     3,
     1,
     3,
     0,
     24],
    [2544,
     '2022-23',
     '00',
     1610616834,
     'LBN',
     38.0,
     1,
     1,
     14.0,
     6,
     11,
     0.545,
     1,
     5,
     0.2,
     0,
     0,
     0.0,
     0,
     1,
     1,
     4,
     0,
     0,
     0,
     1,
     13]]},
  {'name': 'CareerTotalsAllStarSeason',
   'headers': ['PLAYER_ID',
    'LEAGUE_ID',
    'Team_ID',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[2544,
     '00',
     0,
     19,
     19,
     523.0,
     178,
     345,
     0.515942,
     41,
     135,
     0.303703,
     29,
     40,
     0.725,
     14,
     96,
     110,
     110,
     22,
     8,
     58,
     19,
     426]]},
  {'name': 'SeasonTotalsCollegeSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'ORGANIZATION_ID',
    'SCHOOL_NAME',
    'PLAYER_AGE',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': []},
  {'name': 'CareerTotalsCollegeSeason',
   'headers': ['PLAYER_ID',
    'LEAGUE_ID',
    'ORGANIZATION_ID',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': []},
  {'name': 'SeasonTotalsShowcaseSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'PLAYER_AGE',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': []},
  {'name': 'CareerTotalsShowcaseSeason',
   'headers': ['PLAYER_ID',
    'LEAGUE_ID',
    'Team_ID',
    'GP',

In [7]:
from nba_api.stats.static import players

#players we want to look into
superstars = ["Stephen Curry", "Michael Jordan", "Kevin Durant",
             "Lebron James", "Allen Iverson"]

#pull player ids from superstars
player_ids = []
for i in superstars:
    player_ids.append(players.find_players_by_full_name(i)[0]['id'])


from nba_api.stats.endpoints import playergamelog
from nba_api.stats.library.parameters import SeasonAll
import pandas as pd 

#pull game logs of each player
game_logs =[]
for i in player_ids:
    game_logs.append(playergamelog.PlayerGameLog(player_id=i, season = SeasonAll.all).get_data_frames()[0])

player_data = dict(zip(superstars, game_logs))

#Enter any player from superstar list to access their game log
player_data["Michael Jordan"]

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22002,893,0020201178,"APR 16, 2003",WAS @ PHI,L,28,6,15,0.400,...,4,4,4,0,0,2,0,15,-12.0,0
1,22002,893,0020201164,"APR 14, 2003",WAS vs. NYK,L,38,9,22,0.409,...,7,8,1,1,0,2,1,21,-11.0,0
2,22002,893,0020201150,"APR 12, 2003",WAS vs. ATL,L,30,8,16,0.500,...,6,8,6,1,1,2,3,17,12.0,0
3,22002,893,0020201140,"APR 11, 2003",WAS @ MIA,W,40,11,26,0.423,...,1,2,4,2,0,1,2,25,2.0,0
4,22002,893,0020201125,"APR 09, 2003",WAS vs. BOS,L,43,8,17,0.471,...,10,10,1,2,0,1,2,21,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067,21984,893,0028400035,"NOV 01, 1984",CHI @ DEN,L,33,7,15,0.467,...,2,5,5,1,1,2,4,17,NaN,0
1068,21984,893,0028400025,"OCT 30, 1984",CHI @ KCK,W,36,8,21,0.381,...,2,4,5,3,1,6,5,25,NaN,0
1069,21984,893,0028400019,"OCT 29, 1984",CHI vs. MIL,W,34,13,24,0.542,...,2,4,5,6,2,3,4,37,NaN,0
1070,21984,893,0028400013,"OCT 27, 1984",CHI @ MIL,L,34,8,13,0.615,...,2,5,5,2,1,3,4,21,NaN,0
1071,21984,893,0028400005,"OCT 26, 1984",CHI vs. WAS,W,40,5,16,0.313,...,5,6,7,2,4,5,2,16,NaN,0

In [4]:
#pull Lebron James player dictionary
players.find_players_by_full_name("Lebron James")

[{'id': 2544,
  'full_name': 'LeBron James',
  'first_name': 'LeBron',
  'last_name': 'James',
  'is_active': True}]

In [5]:
#index by 0 to remove the brackets and get dictionary
players.find_players_by_full_name("Lebron James")[0]

{'id': 2544,
 'full_name': 'LeBron James',
 'first_name': 'LeBron',
 'last_name': 'James',
 'is_active': True}

In [6]:
#access the id number
players.find_players_by_full_name("Lebron James")[0]["id"]

2544

In [2]:
# LAKERS
import pandas as pd

team_id = 1610612747  # Los Angeles Lakers
# Retrieve team year-by-year statistics
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
# Get the data frame containing the team statistics
team_stats_df = team_stats.get_data_frames()[0]

# Filter the relevant columns for three-point attempts made (FG3A) and percentage (FG3_PCT)
team_three_point_attempts_made = team_stats_df['FG3A']
team_three_point_percentage = team_stats_df['FG3_PCT']

# Combine the relevant columns into a new dataframe
team_three_point_stats_df = pd.DataFrame({
    'Year': team_stats_df['YEAR'],
    'Three-Point Attempts Made': team_three_point_attempts_made,
    'Three-Point Percentage': team_three_point_percentage
})

# Extract the starting year from the 'Year' column and convert it to numeric
team_three_point_stats_df['Year'] = team_three_point_stats_df['Year'].str[:4].astype(int)

# Filter the dataframe to show years after 1979
team_three_point_stats_df = team_three_point_stats_df[team_three_point_stats_df['Year'] >= 1979]

# Print the new dataframe
print(team_three_point_stats_df)

    Year  Three-Point Attempts Made  Three-Point Percentage
31  1979                          0                   0.000
32  1980                          0                   0.000
33  1981                          0                   0.000
34  1982                         96                   0.104
35  1983                        226                   0.257
36  1984                        295                   0.305
37  1985                        409                   0.337
38  1986                        447                   0.367
39  1987                        478                   0.297
40  1988                        667                   0.340
41  1989                        841                   0.367
42  1990                        744                   0.304
43  1991                        445                   0.267
44  1992                        626                   0.299
45  1993                        803                   0.300
46  1994                       1492                   0.352
47  1995                       1359                   0.351
48  1996                       1500                   0.367
49  1997                       1415                   0.351
50  1998                        685                   0.352
51  1999                       1047                   0.329
52  2000                       1275                   0.344
53  2001                       1439                   0.354
54  2002                       1367                   0.356
55  2003                       1115                   0.327
56  2004                       1813                   0.355
57  2005                       1583                   0.349
58  2006                       1724                   0.353
59  2007                       1751                   0.378
60  2008                       1516                   0.361
61  2009                       1562                   0.341
62  2010                       1487                   0.352
63  2011                       1112                   0.326
64  2012                       2015                   0.355
65  2013                       2032                   0.381
66  2014                       1546                   0.344
67  2015                       2016                   0.317
68  2016                       2110                   0.346
69  2017                       2384                   0.345
70  2018                       2541                   0.333
71  2019                       2242                   0.349
72  2020                       2248                   0.354
73  2021                       2826                   0.347
74  2022                       2558                   0.346

In [3]:
# CAVS
import pandas as pd

team_id = 1610612739  # Cleveland Cavaliers
# Retrieve team year-by-year statistics
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
# Get the data frame containing the team statistics
team_stats_df = team_stats.get_data_frames()[0]

# Filter the relevant columns for three-point attempts made (FG3A) and percentage (FG3_PCT)
team_three_point_attempts_made = team_stats_df['FG3A']
team_three_point_percentage = team_stats_df['FG3_PCT']

# Combine the relevant columns into a new dataframe
team_three_point_stats_df = pd.DataFrame({
    'Year': team_stats_df['YEAR'],
    'Three-Point Attempts Made': team_three_point_attempts_made,
    'Three-Point Percentage': team_three_point_percentage
})

# Print the new dataframe
print(team_three_point_stats_df)

       Year  Three-Point Attempts Made  Three-Point Percentage
0   1970-71                          0                   0.000
1   1971-72                          0                   0.000
2   1972-73                          0                   0.000
3   1973-74                          0                   0.000
4   1974-75                          0                   0.000
5   1975-76                          0                   0.000
6   1976-77                          0                   0.000
7   1977-78                          0                   0.000
8   1978-79                          0                   0.000
9   1979-80                          0                   0.000
10  1980-81                          0                   0.000
11  1981-82                          0                   0.000
12  1982-83                        120                   0.250
13  1983-84                        164                   0.262
14  1984-85                        335                   0.287
15  1985-86                        391                   0.338
16  1986-87                        338                   0.240
17  1987-88                        336                   0.378
18  1988-89                        474                   0.359
19  1989-90                        851                   0.407
20  1990-91                        479                   0.334
21  1991-92                        708                   0.357
22  1992-93                        742                   0.381
23  1993-94                        813                   0.362
24  1994-95                       1033                   0.385
25  1995-96                       1582                   0.377
26  1996-97                       1287                   0.376
27  1997-98                        801                   0.372
28  1998-99                        534                   0.341
29  1999-00                        919                   0.373
30  2000-01                        659                   0.334
31  2001-02                       1026                   0.377
32  2002-03                        896                   0.327
33  2003-04                        786                   0.314
34  2004-05                        904                   0.332
35  2005-06                       1465                   0.339
36  2006-07                       1404                   0.352
37  2007-08                       1544                   0.358
38  2008-09                       1670                   0.393
39  2009-10                       1582                   0.381
40  2010-11                       1489                   0.342
41  2011-12                       1273                   0.346
42  2012-13                       1581                   0.346
43  2013-14                       1640                   0.356
44  2014-15                       2253                   0.367
45  2015-16                       2428                   0.362
46  2016-17                       2779                   0.384
47  2017-18                       2636                   0.372
48  2018-19                       2388                   0.355
49  2019-20                       2070                   0.351
50  2020-21                       2141                   0.336
51  2021-22                       2686                   0.355
52  2022-23                       2589                   0.367

In [5]:
#Cavs with win %

import pandas as pd
from nba_api.stats.endpoints import teamyearbyyearstats

team_id = 1610612739  # Cleveland Cavaliers
# Retrieve team year-by-year statistics
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
# Get the data frame containing the team statistics
team_stats_df = team_stats.get_data_frames()[0]

# Filter the relevant columns for three-point attempts made (FG3A), made (FG3M), and percentage (FG3_PCT)
team_three_point_attempts_made = team_stats_df['FG3A']
team_three_point_made = team_stats_df['FG3M']
team_three_point_percentage = team_stats_df['FG3_PCT']

# Combine the relevant columns into a new dataframe
team_three_point_stats_df = pd.DataFrame({
    'Year': team_stats_df['YEAR'],
    'Three-Point Attempts': team_three_point_attempts_made,
    'Three-Point Made': team_three_point_made,
    'Three-Point Percentage': team_three_point_percentage
})

# Convert the 'Year' column to integers representing the starting year of the season
team_three_point_stats_df['Year'] = team_three_point_stats_df['Year'].str[:4].astype(int)

# Filter the dataframe to show years after 1979
team_three_point_stats_df = team_three_point_stats_df[team_three_point_stats_df['Year'] >= 1979]

# Calculate regular season win percentage (WINS / (WINS + LOSSES)) and add it to the dataframe
team_three_point_stats_df['Wins'] = team_stats_df['WINS']
team_three_point_stats_df['Losses'] = team_stats_df['LOSSES']
team_three_point_stats_df['Win Percentage'] = team_three_point_stats_df['Wins'] / (team_three_point_stats_df['Wins'] + team_three_point_stats_df['Losses'])

# Drop the 'Wins' and 'Losses' columns as they are no longer needed in the final dataframe
team_three_point_stats_df.drop(columns=['Wins', 'Losses'], inplace=True)

# Print the new dataframe with three-point stats and regular season win percentage
print(team_three_point_stats_df)

    Year  Three-Point Attempts  Three-Point Made  Three-Point Percentage  \
9   1979                     0                36                   0.000
10  1980                     0                72                   0.000
11  1981                     0                25                   0.000
12  1982                   120                30                   0.250
13  1983                   164                43                   0.262
14  1984                   335                96                   0.287
15  1985                   391               132                   0.338
16  1986                   338                81                   0.240
17  1987                   336               127                   0.378
18  1988                   474               170                   0.359
19  1989                   851               346                   0.407
20  1990                   479               160                   0.334
21  1991                   708               253                   0.357
22  1992                   742               283                   0.381
23  1993                   813               294                   0.362
24  1994                  1033               398                   0.385
25  1995                  1582               596                   0.377
26  1996                  1287               484                   0.376
27  1997                   801               298                   0.372
28  1998                   534               182                   0.341
29  1999                   919               343                   0.373
30  2000                   659               220                   0.334
31  2001                  1026               387                   0.377
32  2002                   896               293                   0.327
33  2003                   786               247                   0.314
34  2004                   904               300                   0.332
35  2005                  1465               497                   0.339
36  2006                  1404               494                   0.352
37  2007                  1544               552                   0.358
38  2008                  1670               656                   0.393
39  2009                  1582               602                   0.381
40  2010                  1489               509                   0.342
41  2011                  1273               440                   0.346
42  2012                  1581               547                   0.346
43  2013                  1640               584                   0.356
44  2014                  2253               826                   0.367
45  2015                  2428               880                   0.362
46  2016                  2779              1067                   0.384
47  2017                  2636               981                   0.372
48  2018                  2388               847                   0.355
49  2019                  2070               727                   0.351
50  2020                  2141               720                   0.336
51  2021                  2686               953                   0.355
52  2022                  2589               950                   0.367

    Win Percentage
9         0.451220
10        0.341463
11        0.182927
12        0.280488
13        0.341463
14        0.439024
15        0.353659
16        0.378049
17        0.512195
18        0.695122
19        0.512195
20        0.402439
21        0.695122
22        0.658537
23        0.573171
24        0.524390
25        0.573171
26        0.512195
27        0.573171
28        0.440000
29        0.390244
30        0.365854
31        0.353659
32        0.207317
33        0.426829
34        0.512195
35        0.609756
36        0.609756
37        0.548780
38        0.804878
39        0.743902
40        0.231707
41        0.318182
42        0.292683
43        0.402439
44        0.646341
45        0.695122
46        0.621951
47        0.609756
48        0.231707
49        0.292308
50        0.305556
51        0.536585
52        0.621951

In [7]:
#Lakers with win %

import pandas as pd
from nba_api.stats.endpoints import teamyearbyyearstats

team_id = 1610612747  # Los Angeles Lakers
# Retrieve team year-by-year statistics
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
# Get the data frame containing the team statistics
team_stats_df = team_stats.get_data_frames()[0]

# Filter the relevant columns for three-point attempts made (FG3A), made (FG3M), and percentage (FG3_PCT)
team_three_point_attempts_made = team_stats_df['FG3A']
team_three_point_made = team_stats_df['FG3M']
team_three_point_percentage = team_stats_df['FG3_PCT']

# Combine the relevant columns into a new dataframe
team_three_point_stats_df = pd.DataFrame({
    'Year': team_stats_df['YEAR'].str[:4].astype(int),
    'Three-Point Attempts': team_three_point_attempts_made,
    'Three-Point Made': team_three_point_made,
    'Three-Point Percentage': team_three_point_percentage
})

# Filter the dataframe to show years after 1979
team_three_point_stats_df = team_three_point_stats_df[team_three_point_stats_df['Year'] >= 1979]

# Calculate regular season win percentage (WINS / (WINS + LOSSES)) and add it to the dataframe
team_three_point_stats_df['Wins'] = team_stats_df['WINS']
team_three_point_stats_df['Losses'] = team_stats_df['LOSSES']
team_three_point_stats_df['Win Percentage'] = team_three_point_stats_df['Wins'] / (team_three_point_stats_df['Wins'] + team_three_point_stats_df['Losses'])

# Drop the 'Wins' and 'Losses' columns as they are no longer needed in the final dataframe
team_three_point_stats_df.drop(columns=['Wins', 'Losses'], inplace=True)

# Print the new dataframe with three-point stats and regular season win percentage
print(team_three_point_stats_df)

    Year  Three-Point Attempts  Three-Point Made  Three-Point Percentage  \
31  1979                     0                20                   0.000
32  1980                     0                17                   0.000
33  1981                     0                13                   0.000
34  1982                    96                10                   0.104
35  1983                   226                58                   0.257
36  1984                   295                90                   0.305
37  1985                   409               138                   0.337
38  1986                   447               164                   0.367
39  1987                   478               142                   0.297
40  1988                   667               227                   0.340
41  1989                   841               309                   0.367
42  1990                   744               226                   0.304
43  1991                   445               119                   0.267
44  1992                   626               187                   0.299
45  1993                   803               241                   0.300
46  1994                  1492               525                   0.352
47  1995                  1359               477                   0.351
48  1996                  1500               551                   0.367
49  1997                  1415               497                   0.351
50  1998                   685               241                   0.352
51  1999                  1047               344                   0.329
52  2000                  1275               439                   0.344
53  2001                  1439               510                   0.354
54  2002                  1367               486                   0.356
55  2003                  1115               365                   0.327
56  2004                  1813               644                   0.355
57  2005                  1583               552                   0.349
58  2006                  1724               608                   0.353
59  2007                  1751               662                   0.378
60  2008                  1516               547                   0.361
61  2009                  1562               532                   0.341
62  2010                  1487               524                   0.352
63  2011                  1112               362                   0.326
64  2012                  2015               715                   0.355
65  2013                  2032               774                   0.381
66  2014                  1546               532                   0.344
67  2015                  2016               639                   0.317
68  2016                  2110               730                   0.346
69  2017                  2384               822                   0.345
70  2018                  2541               847                   0.333
71  2019                  2242               782                   0.349
72  2020                  2248               796                   0.354
73  2021                  2826               982                   0.347
74  2022                  2558               885                   0.346

    Win Percentage
31        0.731707
32        0.658537
33        0.695122
34        0.707317
35        0.658537
36        0.756098
37        0.756098
38        0.792683
39        0.756098
40        0.695122
41        0.768293
42        0.707317
43        0.524390
44        0.475610
45        0.402439
46        0.585366
47        0.646341
48        0.682927
49        0.743902
50        0.620000
51        0.817073
52        0.682927
53        0.707317
54        0.609756
55        0.682927
56        0.414634
57        0.548780
58        0.512195
59        0.695122
60        0.792683
61        0.695122
62        0.695122
63        0.621212
64        0.548780
65        0.329268
66        0.256098
67        0.207317
68        0.317073
69        0.426829
70        0.451220
71        0.732394
72        0.583333
73        0.402439
74        0.524390

In [9]:
#Celtics with win %
import pandas as pd
from nba_api.stats.endpoints import teamyearbyyearstats

team_id = 1610612738  # Boston Celtics
# Retrieve team year-by-year statistics
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
# Get the data frame containing the team statistics
team_stats_df = team_stats.get_data_frames()[0]

# Filter the relevant columns for three-point attempts made (FG3A), made (FG3M), and percentage (FG3_PCT)
team_three_point_attempts_made = team_stats_df['FG3A']
team_three_point_made = team_stats_df['FG3M']
team_three_point_percentage = team_stats_df['FG3_PCT']

# Combine the relevant columns into a new dataframe
team_three_point_stats_df = pd.DataFrame({
    'Year': team_stats_df['YEAR'].str[:4].astype(int),
    'Three-Point Attempts': team_three_point_attempts_made,
    'Three-Point Made': team_three_point_made,
    'Three-Point Percentage': team_three_point_percentage
})

# Filter the dataframe to show years after 1979
team_three_point_stats_df = team_three_point_stats_df[team_three_point_stats_df['Year'] >= 1979]

# Calculate regular season win percentage (WINS / (WINS + LOSSES)) and add it to the dataframe
team_three_point_stats_df['Wins'] = team_stats_df['WINS']
team_three_point_stats_df['Losses'] = team_stats_df['LOSSES']
team_three_point_stats_df['Win Percentage'] = team_three_point_stats_df['Wins'] / (team_three_point_stats_df['Wins'] + team_three_point_stats_df['Losses'])

# Drop the 'Wins' and 'Losses' columns as they are no longer needed in the final dataframe
team_three_point_stats_df.drop(columns=['Wins', 'Losses'], inplace=True)

# Print the new dataframe with three-point stats and regular season win percentage
print(team_three_point_stats_df)

    Year  Three-Point Attempts  Three-Point Made  Three-Point Percentage  \
33  1979                     0               162                   0.000
34  1980                     0                65                   0.000
35  1981                     0                49                   0.000
36  1982                   186                39                   0.210
37  1983                   229                55                   0.240
38  1984                   309               110                   0.356
39  1985                   393               138                   0.351
40  1986                   565               207                   0.366
41  1987                   705               271                   0.384
42  1988                   309                78                   0.252
43  1989                   404               106                   0.262
44  1990                   346               109                   0.315
45  1991                   359               110                   0.306
46  1992                   383               110                   0.287
47  1993                   477               138                   0.289
48  1994                   984               362                   0.368
49  1995                  1453               539                   0.371
50  1996                  1331               467                   0.351
51  1997                  1249               415                   0.332
52  1998                   758               273                   0.360
53  1999                  1260               417                   0.331
54  2000                  1633               592                   0.363
55  2001                  1946               699                   0.359
56  2002                  2155               719                   0.334
57  2003                  1599               553                   0.346
58  2004                  1252               437                   0.349
59  2005                  1290               467                   0.362
60  2006                  1283               471                   0.367
61  2007                  1564               596                   0.381
62  2008                  1355               538                   0.397
63  2009                  1433               499                   0.348
64  2010                  1119               408                   0.365
65  2011                   988               363                   0.367
66  2012                  1390               498                   0.358
67  2013                  1729               575                   0.333
68  2014                  2021               660                   0.327
69  2015                  2142               717                   0.335
70  2016                  2741               985                   0.359
71  2017                  2492               939                   0.377
72  2018                  2829              1032                   0.365
73  2019                  2487               905                   0.364
74  2020                  2618               979                   0.374
75  2021                  3044              1085                   0.356
76  2022                  3492              1315                   0.377

    Win Percentage
33        0.743902
34        0.756098
35        0.768293
36        0.682927
37        0.756098
38        0.768293
39        0.817073
40        0.719512
41        0.695122
42        0.512195
43        0.634146
44        0.682927
45        0.621951
46        0.585366
47        0.390244
48        0.426829
49        0.402439
50        0.182927
51        0.439024
52        0.380000
53        0.426829
54        0.439024
55        0.597561
56        0.536585
57        0.439024
58        0.548780
59        0.402439
60        0.292683
61        0.804878
62        0.756098
63        0.609756
64        0.682927
65        0.590909
66        0.506173
67        0.304878
68        0.487805
69        0.585366
70        0.646341
71        0.670732
72        0.597561
73        0.666667
74        0.500000
75        0.621951
76        0.695122

In [10]:
import pandas as pd
from nba_api.stats.endpoints import teamyearbyyearstats

team_id = 1610612738  # Boston Celtics
# Retrieve team year-by-year statistics
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
# Get the data frame containing the team statistics
team_stats_df = team_stats.get_data_frames()[0]

# Filter the relevant columns for three-point attempts made (FG3A), made (FG3M), and percentage (FG3_PCT)
team_three_point_attempts_made = team_stats_df['FG3A']
team_three_point_made = team_stats_df['FG3M']
team_three_point_percentage = team_stats_df['FG3_PCT']

# Combine the relevant columns into a new dataframe
team_three_point_stats_df = pd.DataFrame({
    'Year': team_stats_df['YEAR'].str[:4].astype(int),
    'Three-Point Attempts': team_three_point_attempts_made,
    'Three-Point Made': team_three_point_made,
    'Three-Point Percentage': team_three_point_percentage,
    'Win Percentage': team_stats_df['WINS'] / (team_stats_df['WINS'] + team_stats_df['LOSSES'])
})

# Filter the dataframe to show years after 1979
team_three_point_stats_df = team_three_point_stats_df[team_three_point_stats_df['Year'] >= 1979]

# Print the new dataframe with three-point stats and regular season win percentage
print(team_three_point_stats_df)

    Year  Three-Point Attempts  Three-Point Made  Three-Point Percentage  \
33  1979                     0               162                   0.000
34  1980                     0                65                   0.000
35  1981                     0                49                   0.000
36  1982                   186                39                   0.210
37  1983                   229                55                   0.240
38  1984                   309               110                   0.356
39  1985                   393               138                   0.351
40  1986                   565               207                   0.366
41  1987                   705               271                   0.384
42  1988                   309                78                   0.252
43  1989                   404               106                   0.262
44  1990                   346               109                   0.315
45  1991                   359               110                   0.306
46  1992                   383               110                   0.287
47  1993                   477               138                   0.289
48  1994                   984               362                   0.368
49  1995                  1453               539                   0.371
50  1996                  1331               467                   0.351
51  1997                  1249               415                   0.332
52  1998                   758               273                   0.360
53  1999                  1260               417                   0.331
54  2000                  1633               592                   0.363
55  2001                  1946               699                   0.359
56  2002                  2155               719                   0.334
57  2003                  1599               553                   0.346
58  2004                  1252               437                   0.349
59  2005                  1290               467                   0.362
60  2006                  1283               471                   0.367
61  2007                  1564               596                   0.381
62  2008                  1355               538                   0.397
63  2009                  1433               499                   0.348
64  2010                  1119               408                   0.365
65  2011                   988               363                   0.367
66  2012                  1390               498                   0.358
67  2013                  1729               575                   0.333
68  2014                  2021               660                   0.327
69  2015                  2142               717                   0.335
70  2016                  2741               985                   0.359
71  2017                  2492               939                   0.377
72  2018                  2829              1032                   0.365
73  2019                  2487               905                   0.364
74  2020                  2618               979                   0.374
75  2021                  3044              1085                   0.356
76  2022                  3492              1315                   0.377

    Win Percentage
33        0.743902
34        0.756098
35        0.768293
36        0.682927
37        0.756098
38        0.768293
39        0.817073
40        0.719512
41        0.695122
42        0.512195
43        0.634146
44        0.682927
45        0.621951
46        0.585366
47        0.390244
48        0.426829
49        0.402439
50        0.182927
51        0.439024
52        0.380000
53        0.426829
54        0.439024
55        0.597561
56        0.536585
57        0.439024
58        0.548780
59        0.402439
60        0.292683
61        0.804878
62        0.756098
63        0.609756
64        0.682927
65        0.590909
66        0.506173
67        0.304878
68        0.487805
69        0.585366
70        0.646341
71        0.670732
72        0.597561
73        0.666667
74        0.500000
75        0.621951
76        0.695122

In [11]:
#Bulls
import pandas as pd
from nba_api.stats.endpoints import teamyearbyyearstats

team_id = 1610612741  # Chicago Bulls
# Retrieve team year-by-year statistics
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
# Get the data frame containing the team statistics
team_stats_df = team_stats.get_data_frames()[0]

# Filter the relevant columns for three-point attempts made (FG3A), made (FG3M), and percentage (FG3_PCT)
team_three_point_attempts_made = team_stats_df['FG3A']
team_three_point_made = team_stats_df['FG3M']
team_three_point_percentage = team_stats_df['FG3_PCT']

# Combine the relevant columns into a new dataframe
team_three_point_stats_df = pd.DataFrame({
    'Year': team_stats_df['YEAR'].str[:4].astype(int),
    'Three-Point Attempts': team_three_point_attempts_made,
    'Three-Point Made': team_three_point_made,
    'Three-Point Percentage': team_three_point_percentage,
    'Win Percentage': team_stats_df['WINS'] / (team_stats_df['WINS'] + team_stats_df['LOSSES'])
})

# Filter the dataframe to show years after 1979
team_three_point_stats_df = team_three_point_stats_df[team_three_point_stats_df['Year'] >= 1979]

# Print the new dataframe with three-point stats and regular season win percentage
print(team_three_point_stats_df)

    Year  Three-Point Attempts  Three-Point Made  Three-Point Percentage  \
13  1979                     0                70                   0.000
14  1980                     0                38                   0.000
15  1981                     0                54                   0.000
16  1982                   209                45                   0.215
17  1983                   117                20                   0.171
18  1984                   161                29                   0.180
19  1985                   317                88                   0.278
20  1986                   299                78                   0.261
21  1987                   243                56                   0.230
22  1988                   530               174                   0.328
23  1989                   669               250                   0.374
24  1990                   424               155                   0.366
25  1991                   454               138                   0.304
26  1992                   669               244                   0.365
27  1993                   659               233                   0.354
28  1994                  1187               443                   0.373
29  1995                  1349               544                   0.403
30  1996                  1403               523                   0.373
31  1997                   962               311                   0.323
32  1998                   612               177                   0.289
33  1999                  1032               340                   0.329
34  2000                   950               329                   0.346
35  2001                   868               300                   0.346
36  2002                   997               349                   0.350
37  2003                  1256               429                   0.342
38  2004                  1433               511                   0.357
39  2005                  1477               560                   0.379
40  2006                  1237               480                   0.388
41  2007                  1305               474                   0.363
42  2008                  1293               493                   0.381
43  2009                  1066               352                   0.330
44  2010                  1415               511                   0.361
45  2011                  1117               419                   0.375
46  2012                  1265               446                   0.353
47  2013                  1459               508                   0.348
48  2014                  1825               645                   0.353
49  2015                  1753               651                   0.371
50  2016                  1831               623                   0.340
51  2017                  2549               906                   0.355
52  2018                  2123               745                   0.351
53  2019                  2282               793                   0.348
54  2020                  2446               904                   0.370
55  2021                  2364               872                   0.369
56  2022                  2367               854                   0.361

    Win Percentage
13        0.365854
14        0.548780
15        0.414634
16        0.341463
17        0.329268
18        0.463415
19        0.365854
20        0.487805
21        0.609756
22        0.573171
23        0.670732
24        0.743902
25        0.817073
26        0.695122
27        0.670732
28        0.573171
29        0.878049
30        0.841463
31        0.756098
32        0.260000
33        0.207317
34        0.182927
35        0.256098
36        0.365854
37        0.280488
38        0.573171
39        0.500000
40        0.597561
41        0.402439
42        0.500000
43        0.500000
44        0.756098
45        0.757576
46        0.548780
47        0.585366
48        0.609756
49        0.512195
50        0.500000
51        0.329268
52        0.268293
53        0.338462
54        0.430556
55        0.560976
56        0.487805

In [12]:
# Warriors

import pandas as pd
from nba_api.stats.endpoints import teamyearbyyearstats

team_id = 1610612744  # Golden State Warriors
# Retrieve team year-by-year statistics
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
# Get the data frame containing the team statistics
team_stats_df = team_stats.get_data_frames()[0]

# Filter the relevant columns for three-point attempts made (FG3A), made (FG3M), and percentage (FG3_PCT)
team_three_point_attempts_made = team_stats_df['FG3A']
team_three_point_made = team_stats_df['FG3M']
team_three_point_percentage = team_stats_df['FG3_PCT']

# Combine the relevant columns into a new dataframe
team_three_point_stats_df = pd.DataFrame({
    'Year': team_stats_df['YEAR'].str[:4].astype(int),
    'Three-Point Attempts': team_three_point_attempts_made,
    'Three-Point Made': team_three_point_made,
    'Three-Point Percentage': team_three_point_percentage,
    'Win Percentage': team_stats_df['WINS'] / (team_stats_df['WINS'] + team_stats_df['LOSSES'])
})

# Filter the dataframe to show years after 1979
team_three_point_stats_df = team_three_point_stats_df[team_three_point_stats_df['Year'] >= 1979]

# Print the new dataframe with three-point stats and regular season win percentage
print("Golden State Warriors:")
print(team_three_point_stats_df)

Golden State Warriors:
    Year  Three-Point Attempts  Three-Point Made  Three-Point Percentage  \
33  1979                     0                27                   0.000
34  1980                     0                60                   0.000
35  1981                     0                91                   0.000
36  1982                   150                34                   0.227
37  1983                   226                55                   0.243
38  1984                   397               112                   0.282
39  1985                   278                87                   0.313
40  1986                   364               116                   0.319
41  1987                   312                91                   0.292
42  1988                   629               194                   0.308
43  1989                   750               243                   0.324
44  1990                   801               270                   0.337
45  1991                   763               254                   0.333
46  1992                   852               298                   0.350
47  1993                   859               291                   0.339
48  1994                  1602               546                   0.341
49  1995                  1199               447                   0.373
50  1996                  1363               481                   0.353
51  1997                   696               189                   0.272
52  1998                   565               162                   0.287
53  1999                  1069               345                   0.323
54  2000                   964               282                   0.293
55  2001                   994               320                   0.322
56  2002                  1235               425                   0.344
57  2003                  1283               429                   0.334
58  2004                  1774               624                   0.352
59  2005                  1832               625                   0.341
60  2006                  1967               700                   0.356
61  2007                  2185               761                   0.348
62  2008                  1475               550                   0.373
63  2009                  1687               633                   0.375
64  2010                  1749               685                   0.392
65  2011                  1351               524                   0.388
66  2012                  1632               658                   0.403
67  2013                  2037               774                   0.380
68  2014                  2217               883                   0.398
69  2015                  2592              1077                   0.416
70  2016                  2562               982                   0.383
71  2017                  2369               926                   0.391
72  2018                  2824              1087                   0.385
73  2019                  2032               678                   0.334
74  2020                  2789              1048                   0.376
75  2021                  3231              1176                   0.364
76  2022                  3540              1363                   0.385

    Win Percentage
33        0.292683
34        0.475610
35        0.548780
36        0.365854
37        0.451220
38        0.268293
39        0.365854
40        0.512195
41        0.243902
42        0.524390
43        0.451220
44        0.536585
45        0.670732
46        0.414634
47        0.609756
48        0.317073
49        0.439024
50        0.365854
51        0.231707
52        0.420000
53        0.231707
54        0.207317
55        0.256098
56        0.463415
57        0.451220
58        0.414634
59        0.414634
60        0.512195
61        0.585366
62        0.353659
63        0.317073
64        0.439024
65        0.348485
66        0.573171
67        0.621951
68        0.817073
69        0.890244
70        0.817073
71        0.707317
72        0.695122
73        0.230769
74        0.541667
75        0.646341
76        0.536585

In [13]:
#Knicks

import pandas as pd
from nba_api.stats.endpoints import teamyearbyyearstats

team_id = 1610612752  # New York Knicks
# Retrieve team year-by-year statistics
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
# Get the data frame containing the team statistics
team_stats_df = team_stats.get_data_frames()[0]

# Filter the relevant columns for three-point attempts made (FG3A), made (FG3M), and percentage (FG3_PCT)
team_three_point_attempts_made = team_stats_df['FG3A']
team_three_point_made = team_stats_df['FG3M']
team_three_point_percentage = team_stats_df['FG3_PCT']

# Combine the relevant columns into a new dataframe
team_three_point_stats_df = pd.DataFrame({
    'Year': team_stats_df['YEAR'].str[:4].astype(int),
    'Three-Point Attempts': team_three_point_attempts_made,
    'Three-Point Made': team_three_point_made,
    'Three-Point Percentage': team_three_point_percentage,
    'Win Percentage': team_stats_df['WINS'] / (team_stats_df['WINS'] + team_stats_df['LOSSES'])
})

# Filter the dataframe to show years after 1979
team_three_point_stats_df = team_three_point_stats_df[team_three_point_stats_df['Year'] >= 1979]

# Print the new dataframe with three-point stats and regular season win percentage
print("New York Knicks:")
print(team_three_point_stats_df)

New York Knicks:
    Year  Three-Point Attempts  Three-Point Made  Three-Point Percentage  \
33  1979                     0                42                   0.000
34  1980                     0                56                   0.000
35  1981                     0                58                   0.000
36  1982                   131                33                   0.252
37  1983                   165                47                   0.285
38  1984                   198                51                   0.258
39  1985                   239                82                   0.343
40  1986                   375               125                   0.333
41  1987                   567               179                   0.316
42  1988                  1147               386                   0.337
43  1989                   710               236                   0.332
44  1990                   558               185                   0.332
45  1991                   618               201                   0.325
46  1992                   604               193                   0.320
47  1993                   908               316                   0.348
48  1994                  1446               532                   0.368
49  1995                  1285               485                   0.377
50  1996                  1294               470                   0.363
51  1997                  1139               382                   0.335
52  1998                   589               208                   0.353
53  1999                   937               351                   0.375
54  2000                  1115               391                   0.351
55  2001                  1344               474                   0.353
56  2002                  1582               606                   0.383
57  2003                  1115               406                   0.364
58  2004                  1240               441                   0.356
59  2005                   884               320                   0.362
60  2006                  1370               474                   0.346
61  2007                  1454               490                   0.337
62  2008                  2284               823                   0.360
63  2009                  2145               743                   0.346
64  2010                  2081               765                   0.368
65  2011                  1538               517                   0.336
66  2012                  2371               891                   0.376
67  2013                  2038               759                   0.372
68  2014                  1614               560                   0.347
69  2015                  1762               610                   0.346
70  2016                  2022               704                   0.348
71  2017                  1914               673                   0.352
72  2018                  2421               823                   0.340
73  2019                  1872               631                   0.337
74  2020                  2163               847                   0.392
75  2021                  3029              1082                   0.357
76  2022                  2930              1037                   0.354

    Win Percentage
33        0.475610
34        0.609756
35        0.402439
36        0.536585
37        0.573171
38        0.292683
39        0.280488
40        0.292683
41        0.463415
42        0.634146
43        0.548780
44        0.475610
45        0.621951
46        0.731707
47        0.695122
48        0.670732
49        0.573171
50        0.695122
51        0.524390
52        0.540000
53        0.609756
54        0.585366
55        0.365854
56        0.451220
57        0.475610
58        0.402439
59        0.280488
60        0.402439
61        0.280488
62        0.390244
63        0.353659
64        0.512195
65        0.545455
66        0.658537
67        0.451220
68        0.207317
69        0.390244
70        0.378049
71        0.353659
72        0.207317
73        0.318182
74        0.569444
75        0.451220
76        0.573171

In [14]:
#Spurs 

import pandas as pd
from nba_api.stats.endpoints import teamyearbyyearstats

team_id = 1610612759  # San Antonio Spurs
# Retrieve team year-by-year statistics
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
# Get the data frame containing the team statistics
team_stats_df = team_stats.get_data_frames()[0]

# Filter the relevant columns for three-point attempts made (FG3A), made (FG3M), and percentage (FG3_PCT)
team_three_point_attempts_made = team_stats_df['FG3A']
team_three_point_made = team_stats_df['FG3M']
team_three_point_percentage = team_stats_df['FG3_PCT']

# Combine the relevant columns into a new dataframe
team_three_point_stats_df = pd.DataFrame({
    'Year': team_stats_df['YEAR'].str[:4].astype(int),
    'Three-Point Attempts': team_three_point_attempts_made,
    'Three-Point Made': team_three_point_made,
    'Three-Point Percentage': team_three_point_percentage,
    'Win Percentage': team_stats_df['WINS'] / (team_stats_df['WINS'] + team_stats_df['LOSSES'])
})

# Filter the dataframe to show years after 1979
team_three_point_stats_df = team_three_point_stats_df[team_three_point_stats_df['Year'] >= 1979]

# Print the new dataframe with three-point stats and regular season win percentage
print("San Antonio Spurs:")
print(team_three_point_stats_df)

San Antonio Spurs:
    Year  Three-Point Attempts  Three-Point Made  Three-Point Percentage  \
3   1979                     0                52                   0.000
4   1980                     0                15                   0.000
5   1981                     0                64                   0.000
6   1982                   308                94                   0.305
7   1983                   263                79                   0.300
8   1984                   202                55                   0.272
9   1985                   196                46                   0.235
10  1986                   403               117                   0.290
11  1987                   412               133                   0.323
12  1988                   293                63                   0.215
13  1989                   226                54                   0.239
14  1990                   297                81                   0.273
15  1991                   404               118                   0.292
16  1992                   692               236                   0.341
17  1993                   714               249                   0.349
18  1994                  1158               434                   0.375
19  1995                  1320               518                   0.392
20  1996                  1180               378                   0.320
21  1997                   863               302                   0.350
22  1998                   521               172                   0.330
23  1999                   882               330                   0.374
24  2000                  1094               445                   0.407
25  2001                  1211               438                   0.362
26  2002                  1270               449                   0.354
27  2003                  1140               408                   0.358
28  2004                  1395               507                   0.363
29  2005                  1362               524                   0.385
30  2006                  1561               595                   0.381
31  2007                  1610               594                   0.369
32  2008                  1620               625                   0.386
33  2009                  1547               554                   0.358
34  2010                  1727               685                   0.397
35  2011                  1405               552                   0.393
36  2012                  1764               663                   0.376
37  2013                  1757               698                   0.397
38  2014                  1847               677                   0.367
39  2015                  1518               570                   0.375
40  2016                  1927               753                   0.391
41  2017                  1977               696                   0.352
42  2018                  2071               812                   0.392
43  2019                  2021               760                   0.376
44  2020                  2046               716                   0.350
45  2021                  2626               925                   0.352
46  2022                  2640               911                   0.345

    Win Percentage
3         0.500000
4         0.634146
5         0.585366
6         0.646341
7         0.451220
8         0.500000
9         0.426829
10        0.341463
11        0.378049
12        0.256098
13        0.682927
14        0.670732
15        0.573171
16        0.597561
17        0.670732
18        0.756098
19        0.719512
20        0.243902
21        0.682927
22        0.740000
23        0.646341
24        0.707317
25        0.707317
26        0.731707
27        0.695122
28        0.719512
29        0.768293
30        0.707317
31        0.682927
32        0.658537
33        0.609756
34        0.743902
35        0.757576
36        0.707317
37        0.756098
38        0.670732
39        0.817073
40        0.743902
41        0.573171
42        0.585366
43        0.450704
44        0.458333
45        0.414634
46        0.268293